<div class="top-box">
    <div class="top-title-box">
        <div class="top-title">在线聊天室 Let's Talk</div>
        <div class="user-box">
            <div class="nav-box" (click)=LogOut()>
                <a>退出登录</a>
            </div>
            <div class="nav-box" (click)=ToUserRole()>
                <a>权限管理</a>
            </div>
            <div class="nav-box" (click)=ToRoom()>
                <a>房间管理</a>
            </div>
            <div class="nav-box" (click)=ToUser()>
                <a>用户管理</a>
            </div>
            <div class="wel-box">
                欢迎管理员，{{UserName}}
            </div>
        </div>
    </div>
</div>
<div class="main-box">
    <el-button type="primary" style="position: absolute; top: 5rem; right: 2rem;" justify="space-between" (click)="ToCreateRoom()">创建房间</el-button>
    <div class="login-box">
        <div class="title-box">
            房间封禁管理
        </div>
        <div *ngFor="let roomlist of RoomList; let i = index;" height="300px">
            <div *ngIf="roomlist.roomname != '公共房间'" style="width: 100%; min-width: 600px; margin-bottom: 1rem;">
                <label style="float:left; padding-right: 15px; width: 15%;">房间名</label>
                <label style="margin-bottom: 32px; width: 55%;">{{roomlist.roomname}}</label>
                <el-switch class="switch" style="float:right; width: 30%;" [(ngModel)]="roomlist.isban" 
                inactive-color="#ff4949" active-color="	#409EFF" active-text="正常" inactive-text="封禁"
                active-value="1" inactive-value="0"
                (click)="BanChange(i)"
                ></el-switch>
            </div>
        </div>
    </div>
</div>

